
/* navabr start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form a{
    text-decoration: none;
    background-color: #4834d4;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 1s;
    font-size: 18px;
    font-weight: bold;
}
p{
    text-transform: capitalize;
}

.navbar{
    background-color: #4834d4;
}
.collapse .navbar-nav .nav-item .nav-link{
    color: #fff;
    padding-left: 20px;
    transition: 1s;
}

.btn-close:focus{
    border: 0;
    outline: 0;
}
.navbar-toggler{
    border: 0;
    outline: 0;
}
.navbar-toggler span{
    color: #fff;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: 0;
    outline: 0;
}
/* navabr end */


/* <!-- public post start --> */

.input-group .form-control:focus{
    box-shadow: none;
}

/* <!-- public post end --> */


button:focus{
    border: 0;
    outline: 0;
}
.btn:focus{
    border: 0;
    outline: 0;
}
h5{
    text-transform: capitalize;
}

 
/* <!-- post start --> */

.blog img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-position: center;
    object-fit: cover;
}
.blog p{
    color: gray;
}
.blog .text{
    padding-left: 12px;
}

.blog .line{
    line-height: 25px;
    width: 100%;
}

.blog{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
}


/* <!-- post end --> */



